h1{
    background-color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: size 2em;
}
div{
    font-size:20 px;

}
body{
    background-color: aqua;
}
